# Default ignored files
/../../POO_Semana_12./.idea/shelf/
/../../POO_Semana_12./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../POO_Semana_12./.idea/httpRequests/
# Datasource local storage ignored files
/../../POO_Semana_12./.idea/dataSources/
/../../POO_Semana_12./.idea/dataSources.local.xml
